<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-6 text-center">
      <form
        id="orderForm"
        novalidate
        [formGroup]="orderForm"
        (ngSubmit)="submitOrder()"
      >
        <div class="card no-border mx-auto">
          <div class="card-header">Cadastrar Nova Compra</div>
          <div class="card-body">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="code"
                name="code"
                placeholder="Código da compra"
                maxlength="10"
                formControlName="code"
                required
              />

              <div
                class="text-danger"
                *ngIf="
                  orderForm.controls.code.invalid &&
                  (orderForm.controls.code.dirty ||
                    orderForm.controls.code.touched)
                "
              >
                <span *ngIf="orderForm.controls.code.errors.required"
                  >Código é obrigatório</span
                >
                <span *ngIf="orderForm.controls.code.errors.pattern"
                  >Código só pode conter números</span
                >
              </div>
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="amount"
                name="amount"
                placeholder="Valor da compra"
                formControlName="amount"
                required
                currencyMask
              />

              <div
                class="text-danger"
                *ngIf="
                  orderForm.controls.amount.invalid &&
                  (orderForm.controls.amount.dirty ||
                    orderForm.controls.amount.touched)
                "
              >
                <span *ngIf="orderForm.controls.amount.errors.required"
                  >Valor da compra é obrigatório</span
                >
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="Data da compra"
                  name="orderDate"
                  formControlName="orderDate"
                  ngbDatepicker
                  #d2="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="d2.toggle()"
                    type="button"
                  >
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  orderForm.controls.orderDate.invalid &&
                  (orderForm.controls.orderDate.dirty ||
                    orderForm.controls.orderDate.touched)
                "
              >
                <span *ngIf="orderForm.controls.orderDate.errors.required"
                  >Data da compra é obrigatório</span
                >
              </div>
            </div>

            <button
              type="submit"
              [disabled]="orderForm.invalid"
              class="btn btn-primary btn-large"
            >
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
