<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-6 text-center">
      <form
        id="signin-form"
        novalidate
        [formGroup]="signInForm"
        (ngSubmit)="signIn()"
      >
        <div class="card no-border mx-auto">
          <div class="card-header">Acessar</div>
          <div class="card-body">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="E-mail"
                formControlName="email"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Senha"
                formControlName="password"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary btn-large">
              Entrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
