<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-6 text-center">
      <form
        id="signup-form"
        novalidate
        [formGroup]="signUpForm"
        (ngSubmit)="signUp()"
      >
        <div class="card no-border mx-auto">
          <div class="card-header">Cadastre-se</div>
          <div class="card-body">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nome completo"
                formControlName="name"
                required
              />
              <div
                class="text-danger"
                *ngIf="
                  signUpForm.controls.name.invalid &&
                  (signUpForm.controls.name.dirty ||
                    signUpForm.controls.name.touched)
                "
              >
                <span *ngIf="signUpForm.controls.name.errors.required"
                  >Nome é obrigatório</span
                >
              </div>
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="cpf"
                name="cpf"
                placeholder="CPF"
                formControlName="cpf"
                required
                mask="000.000.000-99"
              />
              <div
                class="text-danger"
                *ngIf="
                  signUpForm.controls.cpf.invalid &&
                  (signUpForm.controls.cpf.dirty ||
                    signUpForm.controls.cpf.touched)
                "
              >
                <span *ngIf="signUpForm.controls.cpf.errors.required"
                  >CPF é obrigatório</span
                >
                <span *ngIf="signUpForm.controls.cpf.errors.cpf"
                  >CPF inválido</span
                >
              </div>
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="E-mail"
                formControlName="email"
                required
              />
              <div
                class="text-danger"
                *ngIf="
                  signUpForm.controls.email.invalid &&
                  (signUpForm.controls.email.dirty ||
                    signUpForm.controls.email.touched)
                "
              >
                <span *ngIf="signUpForm.controls.email.errors.required"
                  >E-mail é obrigatório</span
                >
              </div>
            </div>

            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Senha"
                formControlName="password"
                required
              />
              <div
                class="text-danger"
                *ngIf="
                  signUpForm.controls.password.invalid &&
                  (signUpForm.controls.password.dirty ||
                    signUpForm.controls.password.touched)
                "
              >
                <span *ngIf="signUpForm.controls.password.errors.required"
                  >Senha é obrigatória</span
                >
              </div>
            </div>

            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirme a Senha"
                formControlName="confirmPassword"
                required
              />
              <div
                class="text-danger"
                *ngIf="
                  signUpForm.controls.confirmPassword.invalid &&
                  (signUpForm.controls.confirmPassword.dirty ||
                    signUpForm.controls.confirmPassword.touched)
                "
              >
                <span
                  *ngIf="signUpForm.controls.confirmPassword.errors.required"
                  >Confirmação de senha é obrigatória</span
                >
              </div>
            </div>

            <button
              type="submit"
              [disabled]="signUpForm.invalid"
              class="btn btn-primary btn-large"
            >
              Cadastrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
